@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui" {
	themes:
		dark --default,
		light;
}

@keyframes shimmer {
	0% {
		background-position: 200% 0;
	}
	100% {
		background-position: -200% 0;
	}
}
